/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #dcdfe2;
}

h2, h4 {
    background-color: rgb(245, 239, 239);
    text-align: center;
    color: #007bff; /* Color azul para títulos */}

.form-control {
    font-size: 1em;
    
}

/* ESTILO PARA DISPOSITIVOS MOVILES (Horizontal) */
@media (max-width: 667px) {
    table th, table td {
        font-size: 9px; /* Reducir el tamaño del texto */
    }

    /* Truncar el texto en columnas con datos grandes */
    td:nth-child(4), /* Correo */
    td:nth-child(5) { /* Password */
        white-space: nowrap; /* Evitar que el texto se ajuste en varias líneas */
        overflow: hidden; /* Ocultar el texto que sobrepasa el ancho */
        text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) para texto largo */
        max-width: 100px; /* Ajusta este valor para controlar el ancho máximo de la celda */
    }
    
    h2 {
        font-size: 1.5em;
    }

    .btn {
        width: 100%; /* Botones ocupan el 100% del ancho de la pantalla */
        margin-bottom: 5px; /* Espacio entre botones */
    }
}

/* ESTILO PARA TABLETS (Horizontal) */
@media(min-width: 668px) and (max-width: 932px) {
    table th, table td {
        font-size: 12px; /* Reducir el tamaño del texto */
    }

    /* Columnas con contenido largo (Correo, Password, etc.) */
    td:nth-child(4), /* Correo */
    td:nth-child(5) { /* Password */
        white-space: nowrap; /* Evitar que el texto se ajuste en varias líneas */
        overflow: hidden; /* Ocultar el texto que sobrepasa el ancho */
        text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) para texto largo */
        max-width: 100px; /* Ajusta este valor para controlar el ancho máximo de la celda */
    }

    h2 {
        font-size: 1.75em;
    }

    .btn {
        font-size: 12px;
        width: 80%; /* Botones ocupan el 100% del ancho de la pantalla*/
        margin-bottom: 5px; /* Espacio entre botones */
    }
}

/* ESTILO PARA PANTALLAS DE ESCRITORIO */
@media (min-width: 933px) and (max-width: 1024px) {
    table th, table td {
        font-size: 11px; /* Reducir el tamaño del texto */
    }

    /* Columnas con contenido largo (Password) */
    td:nth-child(5) { /* Password */
        white-space: nowrap; /* Evitar que el texto se ajuste en varias líneas */
        overflow: hidden; /* Ocultar el texto que sobrepasa el ancho */
        text-overflow: ellipsis; /* Mostra puntos suspensivos (...) para texto largo */
        /*max-width: 100px; /*  valor para el ancho máximo de la celda */
    }

    h2 {
        font-size: 2em;
    }

    .btn {
        font-size: 12px;
        width: 100%; 
        margin-bottom: 5px; /* Espacio entre botones */
    }
}

/* ESTILO PARA PANTALLAS DE ESCRITORIO */
@media (min-width: 1025px) and (max-width: 1200px) {
    table th, table td {
        font-size: 11px; /* Reducir el tamaño del texto del contenido de tbl */
    }
    h2 {
        font-size: 2.5em;
    }
    .btn {
        font-size: 12px;
        width: 100%; 
        margin-bottom: 5px; /* Espacio entre botones */
    }
}
